* {
  box-sizing: border-box;
  magrin: 0;
  padding:0 ;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

/* Header/Blog Title */
.header {
  padding: 45px;
  text-align: center;
  background: #004225;
}

.header h1 {
  font-size: 60px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #000000;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  background-color: #f2f2f2;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  z-index: 999;
}

/* Create columns */
/* Left */
.leftcolumn {   
  float: left;
  width: 25%;
}

/* Right */
.rightcolumn {
  float: left;
  width: 75%;
  background-color: #ffffff;
  padding-left: 20px;
}

/* images */
.image {
  width: 90%;
  height: 90%;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Footer */
.footer {
  padding: 5px;
  text-align: center;
  background: #004225;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
div.recipes {
  float: left;
  width: 180px;
}

.salmon-img{
	margin 0 auto;
    width: 200px;
    height: 150px;
    background-image: url(img/SUSHI_salmon+avocado roll.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
   



div.recipes:hover {
  border: 1px solid #777;
}

div.recipes img {
  width: 200px;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #004225;
  color: black;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

